{%extends "seller_base.html" %}
{%block content%}

<div class="content" style="padding-top: 60px; padding-left: 200px;">
    <div class="container-fluid">
        <br>
        <div class="card" style="width: 90%; margin: 0 auto;">
            <div class="card-header">Completed Orders</div>
            <div class="card-body">
                <table class="table table-hover" style="text-align: center">
                    <thead>
                        <tr>
                            <th scope="col">Order Date</th>
                            <th scope="col">Order Number</th>
                            <th scope="col">Order Amount (RM)</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for orders in orders %}
                        {% if orders.orders_status == "Completed" %}
                        <tr>
                            <td>{{ orders['orders_date'] }}</td>
                            <td>{{ orders['orders_no'] }}</td>
                            <td>{{ orders['orders_amount'] }}0</td>
                            <td><a href="{{ url_for('completed_orders_details', orderId = orders['orders_id']) }}" class="btn btn-primary btn-sm">View Order</a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}